<!DOCTYPE html>
<html lang="pl">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" href="ow-icon.png" />

		<title>Nasze osiedle</title>
		<link rel="stylesheet" href="default.css" />
		<link rel="stylesheet" href="mojeOsiedle.css" />
	</head>
	<body>
		<header></header>
		<footer></footer>

		<a href="/add_event"><button class="button button2">Dodaj Event</button></a>
		<!-- CHYBA NIE POTREBNE!!!! <div class="topBar">
			<label>
				<p>Filtruj:</p>
			</label>
		</div> -->
		<main>
			<div class="anounceGrid">
				<% if(result){for(let i = 0; i<result.length; i++){ %>

				<div class="announce" announceId="<%= i %>">
					<div class="annouceHeader">
						<img class="announceProfile" src="missingIcon.png" alt="" />
						<div>
							<p class="announcName"> <%= `${result[i].name} ${result[i].surname}` %></p>
							<p class="announcDate"><%= `${result[i].date_format}`  %></p>
						</div>
					</div>
					<div class="announceContent">
						<p class="annouceText"><%= `${result[i].content}` %></p>
						<img class="annouceImg" src="data:image/jpeg;base64,<%= result[i].image.toString('base64') %>" alt="" />
						<div class="bar">
							<button class="likeButton" onclick="likeClicked(<%= i %>)">
								<% if(result[i].liked){ %>
								<img src="/icons/heartOn.png" alt="Like" />
								<% } else { %>
								<img src="/icons/heartOff.png" alt="Like" />
								<% } %>
								<p class="likeCount"><%= result[i].likes %></p>
							</button>
							<button class="commentButton" onclick="">
								<img src="icons/commentIcon.png" alt="Comment" />
								<p class="commentCount">5</p>
							</button>
						</div>
						<div class="comment">
							<img class="commentProfile" src="image.jpg" alt="" />
							<input type="text" name="" id="" />
						</div>
					</div>
				</div>
				<% }}; %>
			</div>
			<div id="waste-of-space" style="height: 20vh; width: 100vw">&nbsp;</div>
		</main>

		<script src="/init.js"></script>
		<script src="/like.js"></script>
		
	</body>

</html>
