<!DOCTYPE html>
<html lang="pl">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Mój profil</title>
		<link rel="icon" href="/tarnow-icon.png" />
		<link rel="stylesheet" href="/default.css" />
		<link rel="stylesheet" href="/mojeOsiedle.css" />
		<link rel="stylesheet" href="profile.css" />
	</head>
	<body>
		<header></header>
		<footer></footer>
		<main style="overflow-y: hidden">
			<% if(result){ %>
			<div id="main-header">
				<div id="icon-div">
					<img src="missingIcon.png" alt="missing icon" />
				</div>
				<div id="user-name"><%= `${result[0].name} ${result[0].surname}` %></div>
				<div id="counters-div">
					<div class="counter">
						<div class="counter-what">Eventy</div>
						<div class="counter-how-many"><%= result[0].numberofposts %></div>
					</div>
					<div class="counter">
						<div class="counter-what">Coś</div>
						<div class="counter-how-many">0</div>
					</div>
					<div class="counter">
						<div class="counter-what">Obserwujący</div>
						<div class="counter-how-many">0</div>
					</div>
				</div>
			</div>
			<div id="bio"><%= result[0].bio %></div>
			<div class="anounceGrid">
				<% for(let i = 0; i < result[0].numberofposts; i++) { %>
				<div class="announce" announceId="<%= i %>">
					<div class="annouceHeader">
						<img class="announceProfile" src="/image.jpg" alt="" />
						<div>
							<p class="announcName"><%= `${result[i].name} ${result[i].surname}` %></p>
							<p class="announcDate">6 dni temu</p>
						</div>
					</div>
					<div class="announceContent">
						<hr />
						<p class="annouceText"><%= result[i].content %></p>
						<img class="annouceImg" src="<%= `/${result[i].image}` %>" alt="" />
						<div class="bar">
							<button class="likeButton" onclick="likeClicked(<%= i %>);">
								<img src="/icons/heartOff.png" alt="Like" />
								<p class="likeCount"><%= result[i].likes %></p>
							</button>
							<button class="commentButton" onclick="">
								<img src="/icons/commentIcon.png" alt="Comment" />
								<p class="commentCount"><%= result[i].comments %></p>
							</button>
						</div>
						<div class="comment">
							<img class="commentProfile" src="image.jpg" alt="" />
							<input type="text" name="" id="" />
						</div>
					</div>
				</div>
				<% } %>
			</div>
			<div id="waste-of-space" style="height: 20vh; width: 100vw">&nbsp;</div>
			<% } %>
		</main>

		<script src="/init.js"></script>
		<script src="/like.js"></script>
	</body>
</html>
